section {
  color: #fff;
  margin-top: 56px;
  margin: 72px 136px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
section .welcome {
  flex: 1;
}
section .welcome h1 {
  margin-top: 36px;
  font-size: 36px;
  color: #d7e4e3;
}
section .logo {
  /* width: 400px;
  height: 400px; */
  width: 680px;
}
section .outline-wrap {
  font-size: 24px;
  font-weight: 500;
  color: #f7df1e;
}

.intro-enter, .intro-appear{
  opacity: 0;
  transform: translateY(100%);;
}
.intro-enter-active, .intro-appear-active{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1500ms, transform 1500ms;
}
