.blog {
  background-color: rgba($color: #f2f4f8, $alpha: 0.4);
  height: 100%;
  &-logo {
    position: relative;
    z-index: -1;
    height: 500px;
    width: 100%;
    background: url(../../assets/images/blog.jpg) no-repeat;
    object-fit: cover;
    background-position: top;
    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      text-align: center;
      color: #231f25;
    }
  }
  &-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
    .blog-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: 48px;
      margin-bottom: 64px;
    }
  }
}