@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624591922312') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e698";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-twitter:before {
  content: "\ea07";
}

.icon-eye:before {
  content: "\ebe6";
}

.icon-github:before {
  content: "\e722";
}

