.nav {
  display: flex;
  list-style: none;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  &-logo {
    display: flex;
    align-items: center;
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    span {
      margin-left: 16px;
      font-size: 18px;
    }
  }
  &-list {
    display: flex;
    margin-right: 48px;
    li {
      margin-left: 24px;
    }
  }
}
