.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.3);
  height: 52px;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .website-logo {
    font-size: 18px;
    font-weight: 500;
    margin-left: 32px;
    height: 100%;
    line-height: 52px;
    cursor: pointer;
  }
  .list-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 52px;
    margin-right: 32px;
    &-item {
      margin-left: 36px;
      transition: color 300ms ease 0s;
      &:hover {
        color: rgb(255, 165, 0);
      }
      a {
        display: flex;
      }
    }
  }
}
